/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  border: dotted 2px white;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.photobkg{
  overflow: hidden;
  background-image: url('../img/brickbkg.png');
  padding: 10px;
}

.photobkg h2 a{
  text-align: center;
margin: 0 auto;
display: block;
padding-top: 20px;
}

/************************ media queries tablet *************
*********************************************************************/

@media screen and (min-width:700px){ 

.rslides{
  float: left;
  width: 45%;
}




}
