html, body, header{
	margin: 0;
	padding: 0;
}

body{
	background: rgba(252,252,252,1);
	background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(181,219,220,1) 25%, rgba(28,146,151,1) 79%, rgba(0,133,138,1) 89%);
	background: -webkit-gradient(left top, left top, color-stop(0%, rgba(252,252,252,1)), color-stop(25%, rgba(181,219,220,1)), color-stop(79%, rgba(28,146,151,1)), color-stop(89%, rgba(0,133,138,1)));
	background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(181,219,220,1) 25%, rgba(28,146,151,1) 79%, rgba(0,133,138,1) 89%);
	background: -o-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(181,219,220,1) 25%, rgba(28,146,151,1) 79%, rgba(0,133,138,1) 89%);
	background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(181,219,220,1) 25%, rgba(28,146,151,1) 79%, rgba(0,133,138,1) 89%);
	background: linear-gradient(to top, rgba(252,252,252,1) 0%, rgba(181,219,220,1) 25%, rgba(28,146,151,1) 79%, rgba(0,133,138,1) 89%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#00858a', GradientType=0 );
	background-repeat:no-repeat;
	font-family: 'Maven Pro', sans-serif;
	color:#fff;
}

a{
	color:white;
}

a:hover{
	color:#EE3123;
}

h1{
	border-bottom:solid #EE3123 3px;
	padding-bottom: 10px;

}

h2{
	font-size: 1.25em;
	margin:0;
}

.clear{
	clear: both;
	font-size: 0px;
	line-height: 0px;
	display: block;
}



/************************ header ********************************
*********************************************************************/
header{
	background:rgba(0,0,0, 0.7);
	width:100%;
	padding:10px 0 15px 0;
	color:#EE3123;
	text-align:center;
	text-transform: uppercase;
	font-weight:900;
	font-size:1em;
}

.frankfort a {
text-decoration: none;
color: #EE3123;
}





/************************ Navigation ********************************
*********************************************************************/

nav{
    width:100%;
}

nav ul{
	list-style:none;
	padding:0;
}

nav li{
	display:inline-block;
	width:15%;

}



.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 100;  
    border-top: 0;  
}  


/************************ NAV ICONS ********************************
*********************************************************************/



.icon-wrap {
	text-align: center; /*centers icon in container*/
	margin: 0 auto;
	padding-top:20px;
}


.icon {
	display: inline-block; /*positions icon in row*/
	font-size: 0px;
	cursor: pointer; /*makes the cursor a pointer and indicates a link - dont understand really*/
	width: 45px; /*sets width of opaque circle*/
	height: 45px; /*sets height of opaque circle*/
	border-radius: 50%; /*creates circle shape*/
	text-align: center; /*centers text under icon*/
	position: relative; /*affects double border*/
	z-index: 1; /*not sure*/
	color: #fff; /*not sure*/
}



.icon:after {
	pointer-events: none;
	position: absolute; /*helps position the outer circle - its relative parent is .icon */
	width: 100%; /*sets width of outer circle*/
	height: 100%; /*sets height of outer circle*/
	border-radius: 50%; /*makes outer circle a circle*/
	content: ''; /*determines icon in center of inner circle after hover*/
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box; /*not sure if necessary - affects outer container size?*/

}


/*slightly affects positioning when icon was a font - not sure if necessary when using image - when removed the image icon centers inside of inner circle*/
/*.icon:before { 
	font-family: 'ecoicon';
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}*/


/*DISPLAYS NAV ICONS*/
.icon-location:before { 
	content: url("../img/icon_location.png");
}

.icon-about:before { 
	content: url("../img/icon_about.png");
}

.icon-events:before { 
	content: url("../img/icon_events.png");
}

.icon-schedule:before { 
	content: url("../img/icon_schedule.png");
}

.icon-media:before { 
	content: url("../img/icon_media.png");
}

.icon-sponsors:before { 
	content: url("../img/icon_sponsors.png");
}


/*OPAQUE OUTER CIRCLE THAT IS ALWAYS PRESENT*/
/* Effect 1 */
.icon-effect-1 .icon {      
	background: rgba(0, 131, 136 ,0.1); /*sets opaque effect of circle (not shape though)*/
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s; /*necessary for transition*/
}


/*******************Hover styles*****************************/

/*CONTROLS OUTER circle ON HOVER*/
.icon-effect-1 .icon:after { 
	top: -7px; /*positions the outer circle on hover*/
	left: -7px; /*positions the outer circle on hover*/
	padding: 7px; /*positions the outer circle on hover*/
	box-shadow: 0 0 0 4px #008388; /*creates the outer circle on hover*/
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0; /*makes outer circle transparent until hovered over*/

}


/*CONTROLS inner circle ON HOVER*/
/* Effect 1a */
.icon-effect-1a .icon:hover { /*sets white inner cirle background color on hover*/
	background: rgba(0,131,136,1); /*make the inner circle completely white with no opacity*/
	/*color: #41ab6b; - sets font color on hover if using font icon*/
}



/*styles controlling the outer circle position and opacity on hover*/
.icon-effect-1a .icon:hover:after { 
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1); /*sets the distance of the outer circle in relation to the inner circle*/
	opacity: 1; /*tells the outer circle to not be opaque at all*/

}



/************************ top photo and upcoming hop section ********************************
*********************************************************************/

.topbkg{
	overflow: hidden;
	background-image: url('../img/brickbkg.png');
}

.topcontainer img {
	width: 100%;
}

#upcoming {
	text-align: center;
	margin: 0 auto;
	padding-bottom: 40px;
	font-size: 1.5em;
	margin: 10px auto;
}

#upcoming img {
	width: 75%;
}

#upcoming .heading{
	font-family: 'Rammetto One', 'Maven Pro', sans-serif;
	font-size:1em;
	border-bottom: solid red 1px;
	position: relative;
	display: inline-block;
}

#upcoming .date{
	display:block;
	font-weight:300;
}

#upcoming .date:before{
	content: "\2014";
}

#upcoming .date:after{
	content: "\2014";
}

sup{
	text-transform:none;
}


/************************ social media icons *************************
*********************************************************************/



#upcoming .socialmedia img{
	width: 8%;
	height: 8%;
	display:inline-block;
	margin-top:15px;
	margin-right: 15px;
}

#upcoming .socialmedia img.theavenuelogo {
	width: 20%;
	margin-bottom: 10px;
}

.socialmedia{
	background: rgba(0,0,0,0.5);
	margin-top: 10px;
	cursor: pointer;
}
/************************ page divider ********************************
*********************************************************************/


.divider{
	border-bottom: dotted #fff 5px;
	padding: 20px 0px 20px 0px;
	margin-bottom: 25px
}

.divider img{
	float:right;
}


/************************ page title shapes ********************************
*********************************************************************/

.title{
	color:#fff;
	font-weight:900;
	text-transform:uppercase;
	font-size:1.5em;
	background:#000;
	width:250px;
	margin-left: 15px;
	padding: 5px 20px 5px 20px;
	position:absolute;
    z-index:1;
}

a.title:hover{
	color:white;
}

.red{
	background:#EE3123;
	width:250px;
	height:40px;
	-ms-transform: rotate(5deg); /* IE 9 */
    -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
    transform: rotate(5deg);
    position:absolute;
    z-index:-2;
    margin-left:20px;
}

.white{
	background:#fff;
	width:250px;
	height:40px;
	-ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
    transform: rotate(-3deg);
    position:absolute;
    z-index:-1;
    margin-left:20px;
}

/************************ section ********************************
*********************************************************************/

section{
	width:80%;
	background:rgba(0, 131, 136, 0.5);
	margin:90px auto;
	padding:20px;
}

a.button{
	background:#EE3123;
	padding: 5px;
	display: block;
	width: 25%;
	color: white;
	text-decoration: none;
	font-weight: 600;
	margin:20px 0px;
}

a.button:hover{
	background:white;
	color:red;
}


/*
a[name="location"] {
	color:green;
	width:100px;
	background:green;
}*/

/************************ getting around page ********************************
*********************************************************************/
.map-canvas-container {
    overflow: hidden;
    height: 500px;
    width:100%;
}
.map-canvas-container .map-canvas {
    height: 575px;
}
.map-canvas-container .map-canvas .infoBox {
    background: #ffffff !important;
    font-size: 16px !important;
    padding: 20px !important;
    color: #000000 !important;
    width: 200px !important;
}

.map-canvas-container .map-canvas .infoBox h3 {
    margin-top: 0 !important;
}

.filters a {
	text-decoration: none;
	color: white;
}

.filters li a:hover {
	color: #008388;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.filters li {
	border-bottom: dotted 2px white;
	color: black;
	padding-left: 10px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.2em;
	background: rgba(0,0,0,0.3);
}

.filters ul {
	list-style: none;
	line-height: 2;
	margin-left: 0;
	padding-left: 0;
}

.filters {
	background: rgba(0,0,0,0.3);
	padding:10px;
}


a.markertrolley {
	background: url('../img/marker_trolley.png');
	background-repeat: no-repeat;
	background-position: left;
	background-size: 30px;
	width: 60%;
	display: block;
}

a.markerparking {
	background: url('../img/marker_parking.png');
	background-repeat: no-repeat;
	background-position: left;
	background-size: 30px;
	width: 60%;
	display: block;
}

a.markercommunity {
	background: url('../img/marker_community.png');
	background-repeat: no-repeat;
	background-position: left;
	background-size: 30px;
	width: 69%;
	display: block;
}

a.markerdining {
	background: url('../img/marker_dining.png');
	background-repeat: no-repeat;
	background-position: left;
	background-size: 30px;
	width: 54%;
	display: block;
}

a.markergallery {
	background: url('../img/marker_gallery.png');
	background-repeat: no-repeat;
	background-position: left;
	background-size: 30px;
	width: 64%;
	display: block;
}

a.markerservices {
	background: url('../img/marker_services.png');
	background-repeat: no-repeat;
	background-position: left;
	background-size: 30px;
	width: 59%;
	display: block;
}

a.markershopping {
	background: url('../img/marker_shopping.png');
	background-repeat: no-repeat;
	background-position: left;
	background-size: 30px;
	width: 60%;
	display: block;
}

a.markerspirits {
	background: url('../img/marker_spirits.png');
	background-repeat: no-repeat;
	background-position: left;
	background-size: 30px;
	width: 53%;
	display: block;
}



.locationinfo h2{
text-align: center;
	padding-bottom: 20px;
	font-size:1em;
}

.locationinfo a.button{
	width: 60%;
margin: 10px auto;
	text-align:center;
}

.parking li {
	padding-bottom: 25px;
	list-style:none;
}

.parking li em:first-child {
	padding-top: 0px;
}

/************************ about page ********************************
*********************************************************************/

img.left {
	width: 100%;
	padding-bottom: 10px;
}

h1.centerheading{
	text-align:center;
	font-size:1.2em;
}

/************************ schedule page ********************************
*********************************************************************/

.calendar {
	width: 100%;
	float: left;
	margin-right: .84034%;
	display: inline;
	margin-bottom: 2.5rem;
	/*perspective*/
	-webkit-perspective: 3300px;
	-moz-perspective:3300px;
	-ms-perspective:3300px;
	-o-perspective:3300px;
	perspective:3300px;
}

.month{
	list-style: none;
	position: relative;
	width: 100px;
	height: 100px;
	cursor: pointer;
	float: left;
	margin: 10px;
	/*transform-style*/
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	-o-transform-style:preserve-3d;
	transform-style:preserve-3d;
	/*transition*/
	-webkit-transition:-webkit-transform 1s ease-in;
	-moz-transition:-moz-transform 1s ease-in;
	-o-transition:-o-transform 1s ease-in;
	transition:transform 1s ease-in;
}

.month div {
	/*backface-visibility*/
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
}


.side-info{
	width: 90px;
	height: 80px;
	position: absolute;
	background: #EE3123;
	padding: 5px;
	text-align: center;
	padding-top: 15px;
	/*transform*/
	-webkit-transform:rotateY(-180deg);
	-moz-transform:rotateY(-180deg);
	-ms-transform:rotateY(-180deg);
	-o-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
}



.month:hover{
	/*transform*/
	-webkit-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	-ms-transform:rotateY(180deg);
	-o-transform:rotateY(180deg);
	transform:rotateY(180deg);
}

.side-date {
	display: inline-block;
	float: left;
	width: 100px;
	border: 2px solid black;
	border-radius: 3px;
	background: white;
	color: black;
	z-index: 100;
}

.cal-top {
	height: 1rem;
	margin: 5px;
}

.disc{
	border-radius: 50%;
	background: black;
	width: 10px;
	height: 10px;
	display: inline-block;
}
.disc.right{
	float: right;
	margin-right: 10px;
}

.disc.left {
	float: left;
	margin-left: 10px;
}

.cal-btm { /*line above month*/
	border-top: 2px solid black;
	padding: .25rem 1rem;
}

.cal-month {
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	color: #008388;
	text-align: center;
}	

.cal-day {
	font-size: 2.5rem;
	text-align: center;
	font-weight: 700;
	color: #008388;
}


h4.event-title {
	margin: 0px;
	text-align: center;
	font-size: .85em;
}

.imgcontainer img{
	width:100%;
}



/************************ lists with icons ********************************
*********************************************************************/

.iconbefore:before{
	content: url('../img/icon_parking.png');
	position: relative;
	bottom: -1ex;
	margin-right: .25em;
	font-size: 1em;
	font-weight: 600;
	text-transform: uppercase;
}

li em{
	text-transform:uppercase;
	display:block;
	font-style:normal;
	font-weight:600;
	padding-top:10px;
}


/************************ special events ********************************
*********************************************************************/

.events a {
	text-decoration: none;
	color: white;
}

.events li a:hover {
	color: #008388;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.events li {
	border: dotted 2px white;
	text-align: center;
	background: rgba(0,0,0,0.3);
	line-height: 1.5;
	padding: 5px;
	margin-top: 5px;
}

.events li h2{
	text-transform: uppercase;
	padding-bottom: 10px;
}


.events li img{
	margin-top: 20px;
	width:15%;
}

.events ul {
	list-style: none;
	line-height: 2;
	margin-left: 0;
	padding-left: 0;
}

.events {
	background: rgba(0,0,0,0.3);
	padding:10px;
}

.eventdetails h3 {
	background: #008388;
	display: block;
	margin-bottom: 10px;
	text-align: center;
}


/************************ sponsors page ********************************
*********************************************************************/

.corpsponsors{
	text-align: center;
	background:white;
}

.corpsponsors img{
	width: 25%;
	margin: 10px;
}

/************************ misc ********************************
*********************************************************************/

.address{
	font-size: .9em;
	font-style: italic;
	display: block;
	padding-left: 45px;
	padding-bottom: 10px;
	line-height: 14px;
}



/************************ footer ********************************
*********************************************************************/
footer{
	background: rgba(0,0,0, 0.7);
	bottom: 0;
	position: fixed;
	width: 100%;
	left: 0;
	z-index: 100;
	border-top: 0;
}

#backToTop{
width: 80%;
height: 40px;
text-align: right;
margin: 0 auto;
padding: 10px 20px 0px 20px;
text-transform: uppercase;
font-weight: 600;

}

#backToTop a{
	text-decoration:none;
}




/************************ media queries small tablet *************
*********************************************************************/

@media screen and (min-width:480px){ 

.filters{
	text-align: center;
	font-size: .75em;
}

.filters li {
	display: inline-block;
	padding: 5px;
	border: dotted 2px white;
	width: 40%;
	margin-top: 5px;

}

a.markertrolley {
	background-position: center top;
	background-position-y: -25px;
	background-origin: content-box;
	padding-top: 25px;
	width: 100%;
}

a.markerparking {
	background-position: center top;
	background-position-y: -25px;
	background-origin: content-box;
	padding-top: 25px;
	width: 100%;
}

a.markercommunity {
	background-position: center top;
	background-position-y: -25px;
	background-origin: content-box;
	padding-top: 25px;
	width: 100%;
}

a.markerdining {
	background-position: center top;
	background-position-y: -25px;
	background-origin: content-box;
	padding-top: 25px;
	width: 100%;
}

a.markergallery {
	background-position: center top;
	background-position-y: -25px;
	background-origin: content-box;
	padding-top: 25px;
	width: 100%;
}

a.markerservices {
	background-position: center top;
	background-position-y: -25px;
	background-origin: content-box;
	padding-top: 25px;
	width: 100%;
}

a.markershopping {
	background-position: center top;
	background-position-y: -25px;
	background-origin: content-box;
	padding-top: 25px;
	width: 100%;
}

a.markerspirits {
	background-position: center top;
	background-position-y: -25px;
	background-origin: content-box;
	padding-top: 25px;
	width: 100%;
}






}

/************************ media queries smedium tablet *************
*********************************************************************/

@media screen and (min-width:642px){ 

.filters li{	
	width: 20%;
}

.eventcontainer {
float: left;
width: 40%;
}

.events li img {
margin-top: 20px;
width: 25%;
}
.eventdetails {
float: right;
width: 55%;
text-align: left;
border-left: solid;
padding-left: 15px;
}



}
/************************ media queries tablet *************
*********************************************************************/

@media screen and (min-width:700px){ 

.frankfort{
	float: left;
	width: 250px;
	padding-top: 15px;
	text-align: center;
	font-size: 1.35em;
	text-align: center;
	padding-left: 30px;
}

nav{
	float: right;
	width: 60%;
	margin-bottom: 5px;
}

span.navtext {
	font-size: .5em;
	color: white;
	display: block;
	line-height:3;
}


.sticky{
	padding:5px;
}

.topcontainer {
	background-image: url('../img/brickbkg.png');
	width: 100%;
}

.topcontainer img {
	width: 50%;
	float: left;
}

nav{
	width: 57%;
	margin-bottom:0px;
}

.icon-wrap{
	padding-top: 5px;
}

.icon-effect-1 .icon:after {
top: -4px;
left: -4px;
padding: 4px;
}

#upcoming {
	float: right;
	width: 50%;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	height: 200px;
	position: relative;
	top: 90px;
	font-size: 1em;
}

#upcoming img {
	margin: 0 auto;
	display: block;
	clear: both;
	margin-bottom: 10px;
	float: none;
	width: 50%;
}

.logo img {
	float: right;
}

#upcoming .socialmedia img {
	width: 5%;
display: inline-block;
margin-top: 10px;
margin-right: 15px;
}

#upcoming .socialmedia img.theavenuelogo {
width: 15%;
margin-bottom: 10px;
}


.socialmedia {
	height: 0px:;
}

.locationinfo{
	width:100%;
}

.locationinfo h2{
	padding-right: 10px;
	font-size: 1.15em;
	line-height: 1.75;
}

.locationinfo a.button{
	float: right;
	width: auto;
}

ul.parking{
	column-count: 2;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-rule: 1px outset #fff;
	-webkit-column-rule: 1px outset #fff;
	-moz-column-rule: 1px outset #fff;
}

img.left {
	width: 50%;
	float: left;
	padding-right: 20px;
}

h1.centerheading{
	font-size:1.25em;
	padding: 10px 50px;
}

span.nowraptext{
	float: right;
	width: 45%;
	display: inline-block;
}

.corpsponsors img{
	width: 15%;
}


}

/************************ media queries large tablet *************
*********************************************************************/

@media screen and (min-width:850px){ 

#upcoming{
	top: 110px;
font-size: 1.1em;
}

span.navtext{
	font-size: .75em;
}

.filters li{
	font-size: 1.3em;
}

.locationinfo h2{
font-size: 1.25em;
padding: 0 50px;

}

}


/************************ media queries larger tablet *************
*********************************************************************/

@media screen and (min-width:1020px){ 

.frankfort{
	width:auto;
}

#upcoming{
	font-size: 1.35em;
}

.locationinfo h2 {
padding: 0 150px;
}

h1.centerheading{
	padding: 10px 100px;
}

}


/************************ media queries desktop *************
*********************************************************************/

@media screen and (min-width:1200px){ 

.frankfort{
margin: 0 5%;
}

nav{
	width: 50%;
	padding-right: 0;
}


#upcoming{
	font-size: 2.25em;
}

.locationinfo h2 {
	padding: 0px;
}

.filters li {
	width: 10%;
}

ul.parking{
	column-count: 3;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-rule: 1px outset #fff;
	-webkit-column-rule: 1px outset #fff;
	-moz-column-rule: 1px outset #fff;
}

h1.centerheading {
	padding: 10px 10px;
}




}



/************************ media queries mobile *************
*********************************************************************/

@media screen and (max-width: 699px){

span.navtext {
	display: none;
}

.map-canvas-container {
	width: 100%;
}

}


