html, body, header{
	margin: 0;
	padding: 0;
}

body{
	background: rgba(252,252,252,1);
	background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(181,219,220,1) 25%, rgba(28,146,151,1) 79%, rgba(0,133,138,1) 89%);
	background: -webkit-gradient(left top, left top, color-stop(0%, rgba(252,252,252,1)), color-stop(25%, rgba(181,219,220,1)), color-stop(79%, rgba(28,146,151,1)), color-stop(89%, rgba(0,133,138,1)));
	background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(181,219,220,1) 25%, rgba(28,146,151,1) 79%, rgba(0,133,138,1) 89%);
	background: -o-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(181,219,220,1) 25%, rgba(28,146,151,1) 79%, rgba(0,133,138,1) 89%);
	background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(181,219,220,1) 25%, rgba(28,146,151,1) 79%, rgba(0,133,138,1) 89%);
	background: linear-gradient(to top, rgba(252,252,252,1) 0%, rgba(181,219,220,1) 25%, rgba(28,146,151,1) 79%, rgba(0,133,138,1) 89%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#00858a', GradientType=0 );
	background-repeat:no-repeat;
	font-family: 'Maven Pro', sans-serif;
	color:#fff;
}

a{
	color:white;
}

a:hover{
	color:#EE3123;
}

h1{
	border-bottom:solid #EE3123 3px;
	padding-bottom: 10px;
}

h2{
	font-size: 1.25em;
	margin:0;
}

.clear{
	clear: both;
	font-size: 0px;
	line-height: 0px;
	display: block;
}

header{
	background:rgba(0,0,0, 0.7);
	width:100%;
	padding:10px 0 15px 0;
	color:#EE3123;
	text-align:center;
	text-transform: uppercase;
	font-weight:900;
	font-size:1em;
}


/************************ Navigation ********************************
*********************************************************************/

nav{
    width:100%;
}

nav ul{
	list-style:none;
	padding:0;
}

nav li{
	display:inline-block;
	width:15%;

}

.sticky {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 100;  
    border-top: 0;  
}  


/************************ NAV ICONS ********************************
*********************************************************************/



.icon-wrap {
	text-align: center; /*centers icon in container*/
	margin: 0 auto;
	padding-top:20px;
}


.icon {
	display: inline-block; /*positions icon in row*/
	font-size: 0px;
	cursor: pointer; /*makes the cursor a pointer and indicates a link - dont understand really*/
	width: 45px; /*sets width of opaque circle*/
	height: 45px; /*sets height of opaque circle*/
	border-radius: 50%; /*creates circle shape*/
	text-align: center; /*centers text under icon*/
	position: relative; /*affects double border*/
	z-index: 1; /*not sure*/
	color: #fff; /*not sure*/
}



.icon:after {
	pointer-events: none;
	position: absolute; /*helps position the outer circle - its relative parent is .icon */
	width: 100%; /*sets width of outer circle*/
	height: 100%; /*sets height of outer circle*/
	border-radius: 50%; /*makes outer circle a circle*/
	content: ''; /*determines icon in center of inner circle after hover*/
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box; /*not sure if necessary - affects outer container size?*/

}


/*slightly affects positioning when icon was a font - not sure if necessary when using image - when removed the image icon centers inside of inner circle*/
/*.icon:before { 
	font-family: 'ecoicon';
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}*/


/*DISPLAYS NAV ICONS*/
.icon-location:before { 
	content: url("../img/icon_location.png");
}

.icon-about:before { 
	content: url("../img/icon_about.png");
}

.icon-events:before { 
	content: url("../img/icon_events.png");
}

.icon-schedule:before { 
	content: url("../img/icon_schedule.png");
}

.icon-media:before { 
	content: url("../img/icon_media.png");
}

.icon-sponsors:before { 
	content: url("../img/icon_sponsors.png");
}


/*OPAQUE OUTER CIRCLE THAT IS ALWAYS PRESENT*/
/* Effect 1 */
.icon-effect-1 .icon {      
	background: rgba(0, 131, 136 ,0.1); /*sets opaque effect of circle (not shape though)*/
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s; /*necessary for transition*/
}


/*******************Hover styles*****************************/

/*CONTROLS OUTER circle ON HOVER*/
.icon-effect-1 .icon:after { 
	top: -7px; /*positions the outer circle on hover*/
	left: -7px; /*positions the outer circle on hover*/
	padding: 7px; /*positions the outer circle on hover*/
	box-shadow: 0 0 0 4px #008388; /*creates the outer circle on hover*/
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0; /*makes outer circle transparent until hovered over*/

}


/*CONTROLS inner circle ON HOVER*/
/* Effect 1a */
.icon-effect-1a .icon:hover { /*sets white inner cirle background color on hover*/
	background: rgba(0,131,136,1); /*make the inner circle completely white with no opacity*/
	/*color: #41ab6b; - sets font color on hover if using font icon*/
}



/*styles controlling the outer circle position and opacity on hover*/
.icon-effect-1a .icon:hover:after { 
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1); /*sets the distance of the outer circle in relation to the inner circle*/
	opacity: 1; /*tells the outer circle to not be opaque at all*/

}



/************************ top photo and upcoming hop section ********************************
*********************************************************************/

.topbkg{
	overflow: hidden;
	background-image: url('../img/brickbkg.png');
}

.topcontainer img {
	width: 100%;
}

#upcoming {
	width: 80%;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 40px;
	font-size: 1.5em;
}

#upcoming .heading{
	font-family: 'Rammetto One', 'Maven Pro', sans-serif;
	font-size:1em;
	border-bottom: solid red 1px;
	position: relative;
	margin-top: 100px;
}

#upcoming .date{
	display:block;
	font-weight:300;
}

#upcoming .date:before{
	content: "\2014";
}

#upcoming .date:after{
	content: "\2014";
}

sup{
	text-transform:none;
}


/************************ social media icons *************************
*********************************************************************/



#upcoming .socialmedia img{
	width: 8%;
	height: 8%;
	display:inline-block;
	margin-top:15px;
	margin-right: 15px;
}

#upcoming .socialmedia img.theavenuelogo {
	width: 20%;
	margin-bottom: 25px;
}

/************************ page divider ********************************
*********************************************************************/


.divider{
	border-bottom: dotted #fff 5px;
	padding: 20px 0px 20px 0px;
	margin-bottom: 25px
}

.divider img{
	float:right;
}


/************************ page title shapes ********************************
*********************************************************************/

.title{
	color:#fff;
	font-weight:900;
	text-transform:uppercase;
	font-size:1.5em;
	background:#000;
	width:250px;
	margin-left: 15px;
	padding: 5px 20px 5px 20px;
	position:absolute;
    z-index:1;
}

a.title:hover{
	color:white;
}

.red{
	background:#EE3123;
	width:250px;
	height:40px;
	-ms-transform: rotate(5deg); /* IE 9 */
    -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
    transform: rotate(5deg);
    position:absolute;
    z-index:-2;
    margin-left:20px;
}

.white{
	background:#fff;
	width:250px;
	height:40px;
	-ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
    transform: rotate(-3deg);
    position:absolute;
    z-index:-1;
    margin-left:20px;
}

/************************ section ********************************
*********************************************************************/

section{
	width:80%;
	background:rgba(0, 131, 136, 0.5);
	margin:90px auto;
	padding:20px;
}

a.button{
	background:#EE3123;
	padding: 5px;
	display: block;
	width: 25%;
	color: white;
	text-decoration: none;
	font-weight: 600;
	margin:20px 0px;
}

a.button:hover{
	background:white;
	color:red;
}


/*
a[name="location"] {
	color:green;
	width:100px;
	background:green;
}*/

/************************ getting around page ********************************
*********************************************************************/

iframe {
	width: 100%;
	height: 200px;
}

.locationinfo h2{
	padding-bottom: 20px;
}

.locationinfo a.button{
	width:100%;
	text-align:center;
}

.parking li {
	padding-bottom: 25px;
	list-style:none;
}

.parking li em:first-child {
	padding-top: 0px;
}

/************************ about page ********************************
*********************************************************************/

img.left {
	width: 100%;
}

/************************ schedule page ********************************
*********************************************************************/

.calendar {
	width: 100%;
	float: left;
	margin-right: .84034%;
	display: inline;
	margin-bottom: 2.5rem;
	/*perspective*/
	-webkit-perspective: 3300px;
	-moz-perspective:3300px;
	-ms-perspective:3300px;
	-o-perspective:3300px;
	perspective:3300px;
}

.month{
	list-style: none;
	position: relative;
	width: 100px;
	height: 100px;
	cursor: pointer;
	float: left;
	margin: 10px;
	/*transform-style*/
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	-o-transform-style:preserve-3d;
	transform-style:preserve-3d;
	/*transition*/
	-webkit-transition:-webkit-transform 1s ease-in;
	-moz-transition:-moz-transform 1s ease-in;
	-o-transition:-o-transform 1s ease-in;
	transition:transform 1s ease-in;
}

.month div {
	/*backface-visibility*/
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
}


.side-info{
	width: 90px;
	height: 80px;
	position: absolute;
	background: #EE3123;
	padding: 5px;
	text-align: center;
	padding-top: 15px;
	/*transform*/
	-webkit-transform:rotateY(-180deg);
	-moz-transform:rotateY(-180deg);
	-ms-transform:rotateY(-180deg);
	-o-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
}



.month:hover{
	/*transform*/
	-webkit-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	-ms-transform:rotateY(180deg);
	-o-transform:rotateY(180deg);
	transform:rotateY(180deg);
}

.side-date {
	display: inline-block;
	float: left;
	width: 100px;
	border: 2px solid black;
	border-radius: 3px;
	background: white;
	color: black;
	z-index: 100;
}

.cal-top {
	height: 1rem;
	margin: 5px;
}

.disc{
	border-radius: 50%;
	background: black;
	width: 10px;
	height: 10px;
	display: inline-block;
}
.disc.right{
	float: right;
	margin-right: 10px;
}

.disc.left {
	float: left;
	margin-left: 10px;
}

.cal-btm { /*line above month*/
	border-top: 2px solid black;
	padding: .25rem 1rem;
}

.cal-month {
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	color: #008388;
	text-align: center;
}	

.cal-day {
	font-size: 2.5rem;
	text-align: center;
	font-weight: 700;
	color: #008388;
}


h4.event-title {
	margin: 0px;
	text-align: center;
	font-size: .85em;
}



/************************ lists with icons ********************************
*********************************************************************/

.iconbefore:before{
	content: url('../img/icon_parking.png');
	position: relative;
	bottom: -1ex;
	margin-right: .25em;
	font-size: 1em;
	font-weight: 600;
	text-transform: uppercase;
}

li em{
	text-transform:uppercase;
	display:block;
	font-style:normal;
	font-weight:600;
	padding-top:10px;
}


/************************ accordion ********************************
*********************************************************************/


#accordion {
	background: white;
	width: 100%;
	margin: auto 0;
	color: black;
	text-decoration: none;
	line-height: 27px;
	display: block;
	padding: 0;
	
}

#accordion h3 {
	font-size: 16px;
	line-height: 34px;
	cursor: pointer;
	background: rgba(0, 131, 136,0.5); 
	padding-left:1em;
	margin:0;
	border-bottom:solid #008388 2px;
}

#accordion h3:hover {
	color: #EE3123;
}


#accordion li {
	list-style-type: none;
	padding-left:15px;
}

#accordion ul{
	padding:0;
	column-count: 3;
-webkit-column-count: 3;
-moz-column-count: 3;
column-rule: 1px outset #fff;
-webkit-column-rule: 1px outset #fff;
}



/************************ accordion icons ********************************
*********************************************************************/


.services:before{
	content: url('../img/icon_services.png');
	position: relative;
	top: 10px;
	margin-right: .25em;
	font-size: 1em;
	font-weight: 600;
	text-transform: uppercase;
}

.dining:before{
	content: url('../img/icon_dining.png');
	position: relative;
	top: 10px;
	margin-right: .25em;
	font-size: 1em;
	font-weight: 600;
	text-transform: uppercase;
}

.community:before{
	content: url('../img/icon_community.png');
	position: relative;
	top: 10px;
	margin-right: .25em;
	font-size: 1em;
	font-weight: 600;
	text-transform: uppercase;
}

.gallery:before{
	content: url('../img/icon_gallery.png');
	position: relative;
	top: 10px;
	margin-right: .25em;
	font-size: 1em;
	font-weight: 600;
	text-transform: uppercase;
}

.shopping:before{
	content: url('../img/icon_shopping.png');
	position: relative;
	top: 10px;
	margin-right: .25em;
	font-size: 1em;
	font-weight: 600;
	text-transform: uppercase;
}

.spirits:before{
	content: url('../img/icon_shopping.png');
	position: relative;
	top: 10px;
	margin-right: .25em;
	font-size: 1em;
	font-weight: 600;
	text-transform: uppercase;
}

/************************ sponsors page ********************************
*********************************************************************/

.corpsponsors{
	width:50%;
}


/************************ misc ********************************
*********************************************************************/

.address{
	font-size: .9em;
	font-style: italic;
	display: block;
	padding-left: 45px;
	padding-bottom: 10px;
	line-height: 14px;
}



/************************ footer ********************************
*********************************************************************/
footer{
	background:black;
	position: fixed;
	bottom: 0;
	position: fixed;
	width: 100%;
	left: 0;
	z-index: 100;
	border-top: 0;
}

#backToTop{
	background: rgba(255,255,255,0.3);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	left: 80%;
	position: relative;
	text-align: center;
	margin:5px;
}



/************************ media queries tablet and above *************
*********************************************************************/

@media screen and (min-width:480px){ 

#accordion {
background: white;
width: 100%;
margin: auto 0;
color: black;
text-decoration: none;
line-height: 27px;
display: block;
padding: 0;
clear: both;
}

#accordion ul {
padding: 0;
}

#accordion h3 {
font-size: 16px;
line-height: 34px;
cursor: pointer;
background: rgba(0, 131, 136,0.5);
padding-left: 1em;
margin: 0;
border-bottom: solid #008388 2px;
clear: both;
}

#accordion li {
list-style-type: none;
}


#accordion li h2{
	clear:both;
}

}

/************************ media queries tablet *************
*********************************************************************/

@media screen and (min-width:700px){ 

.frankfort{
	float: left;
	width: 250px;
	padding-top: 15px;
	text-align: center;
	font-size: 1.35em;
	text-align: center;
	padding-left: 30px;
}

nav{
	float: right;
	width: 60%;
	margin-bottom: 5px;
}

.sticky{
	padding:10px;
}

.topcontainer {
	background: green;
	background-image: url('../img/brickbkg.png');
	width: 100%;
}

.topcontainer img {
	width: 50%;
	float: left;
}

#upcoming {
	float: right;
	width: 50%;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	height: 200px;
	position: relative;
	top: 120px;
	font-size: 1.25em;
}

#upcoming img {
	margin: 0 auto;
	display: block;
	clear: both;
	margin-bottom: 10px;
	float: none;
}

.logo img {
	float: right;
}

.locationinfo{
	width:100%;
}

.locationinfo h2{
	float: left;
	width: 20%;
	text-align: center;
	padding-right: 10px;
	font-size: 1.15em;
	line-height: 1.75;
}

.locationinfo a.button{
	float: right;
	width: auto;
}

.iframecontainer {
	float: right;
	width: 70%;
}

iframe {
	width: 100%;
	height: 400px;
}

ul.parking{
	column-count: 2;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-rule: 1px outset #fff;
	-webkit-column-rule: 1px outset #fff;
	-moz-column-rule: 1px outset #fff;
}

img.left {
	width: 50%;
	float: left;
	padding-right: 20px;
}

span.nowraptext{
	float: right;
	width: 45%;
	display: inline-block;
}

}

/************************ media queries desktop *************
*********************************************************************/

@media screen and (min-width:1200px){ 

.frankfort{
	float: left;
	margin: 0 10%;
	font-size: 1.5em;
	white-space: nowrap;
}

nav{
	width: 50%;
	padding-right: 0;
}

#upcoming{
	font-size: 2.25em;
}

ul.parking{
	column-count: 3;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-rule: 1px outset #fff;
	-webkit-column-rule: 1px outset #fff;
	-moz-column-rule: 1px outset #fff;
}


}



/************************ media queries mobile *************
*********************************************************************/

@media screen and (max-width: 699px){



}
